@media (max-width:1024px) {

    /* *******************************INDEX*********************************** */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    body {
        background-size: 100%;

    }

    .buy {
        grid-template-columns: 1fr 1fr;
        grid-area: 1/1/3/5;
        padding: 10px;
        position: relative;
        top: 120px;
    }

    .container {
        background-attachment: scroll;
    }

    .container-2,
    .container-3 {
        /* background-position: bottom; */
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-x: 30%;
        background-attachment: initial;
    }

    .container-1 {

        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position-x: 30%;
        background-attachment: initial;
    }

    .container-4 {

        background-attachment: fixed;
        height: 100vh;
    }

    .wrapper-0 .buy h2,
    .wrapper-0 .buy a {
        font-size: 10vw;
    }

    .primary ul {
        display: flex;
        gap: 10px;

        flex-direction: column;
        width: 100%;
    }

    .primary {
        /* width: max-content; */
        background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555));
        background-color: rgba(214, 186, 118, 1);
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        /* right: 5px; */
        padding: 10px;

        justify-content: space-between;
        align-items: flex-end;
        align-items: center;

    }

    .navitems {

        flex-direction: column;
        position: absolute;
        background-color: rgb(65, 38, 14);
        color: #fff;
        min-height: calc(100vh - 60px);
        left: -150%;
        top: 60px;
        align-items: center;
        justify-content: start;
        padding-block: 50px;
        gap: 1rem;
        transition: all 0.3s ease;
    }

    .zero {
        display: grid;
        grid-area: 1/1/1/1;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.6em;

    }


    .navitems li a {
        display: grid;
        margin: 0px;
        gap: 0;

    }

    .navitems>li a {
        border: 1px inset;
        border-color: darkorange;
    }

    .dropdown-content-active li a {
        border: 1px inset darkorange;
    }

    .onc {
        padding: 0;
        border: unset;
    }

    .active {
        left: 0;

    }


    .dropdown {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
    }

    .dropdown-content-active li {
        border: 0px;
        padding: 0;
        gap: 1rem;
        background-color: unset;
    }



    .dropdown-content-active {
        position: relative;
        background: unset;
        gap: 0.5rem;
        border-radius: 10px;
    }

    #three {
        position: relative;
        display: flex;
        width: max-content;
        border: 3px groove whitesmoke;

    }

    .four {
        display: inline-flex;
    }

    .five {
        display: block;
    }

    .dropdown-content {
        display: none;
        flex-direction: column;
        position: relative;
        top: 7px;
    }

    .dropdown-content a {
        display: flex;
        flex-direction: column;
    }

    /* ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .dropdown-2 {


        position: fixed;
        flex-direction: ;
        align-self: ;
        background-color: rgb(213, 206, 163);
    }

    .dropdown-content-2 li a {
        border: 2px solid rgb(74, 48, 14);
        border-radius: 10px;

    }

    .hamburger {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;

    }




    .header>li h2 {
        display: block;
    }

    .dropdown-2 .dropbtn-2 {
        display: block;
    }

    .dropdown-2:hover .dropdown-content-2 {
        display: flex;
        display: inline;
        animation-delay: 2s;


    }

    #grid {
        display: block;
        margin-top: 60px;
    }




    .dropdown-content-2>ul {
        display: inline;
        padding: 0;
    }

    .dropdown-content-21 {
        display: none;
        position: relative;

        background-color: rgb(173, 151, 119);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    }

    .dropdown-content-21:hover {
        display: flex;
        position: sticky;
    }

    /* .dropdown-21:hover .dropdown-content-21 {
        display: block;
    } */


    button {
        display: block;

    }

    @keyframes navig {
        0% {
            position: relative;
            background-color: aquamarine;
            top: 10px;
        }

        100% {
            background-color: brown;
            position: relative;
            top: 300px;
        }
    }

    #one,
    #two,
    #three,
    #four,
    #five {
        padding: 0;
        justify-content: start;
    }

    .three {
        display: block;
        grid-row: 1/1;
    }




    .dropdown-content-2 li a:hover {
        transform: scale3d(1.1, 1.1, 1.1);


        transition: 0.4s linear;
        animation-name: up;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }

    /* *******************-INTERESTING FACTS******************* */
    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 90px 20px;
    }

    /* .container-1 {
        transform: translateZ(0px);
        -webkit-transform-origin-z: 0;
    } */


    @keyframes left-shift {

        0% {
            position: relative;
            left: -600px;
        }

        100% {
            position: relative;
            left: 0;
        }
    }

    .wrapper h3 {
        padding: 20px 0;
    }

    .footer {
        margin: 0;
        bottom: 60px;
    }

    .quote {
        font-size: 1em;
        width: 100%;

    }

    .footer q {
        font-size: unset;
        /* margin-bottom: 400px; */

    }

    .social {
        /* background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555)); */
        background: linear-gradient(rgba(152, 104, 41, 0.555), rgba(0, 0, 0, 0.468));
        background-color: rgba(214, 186, 118, 1);
        position: fixed;
        height: 60px;
        bottom: 0px;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;


    }


    /* .social img {
        width: 50%;
    } */

    .footer p {
        font-size: 0.5em;
        font-weight: bold;

    }

    /* *****************ABOUT*************************** */


    .wrapper-1 {
        display: block;
        min-height: 96vh;
        margin: auto;
        width: 100%;
        padding-bottom: 60px;
    }

    .creator {
        display: flex;
        position: fixed;
        font-weight: 900;
        bottom: 2px;
        font-size: 14px;
        flex-direction: column;
        background-color: rgb(173, 102, 9);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        padding: 5px;
        width: 100%;
        text-align: center;
        border: 2px groove burlywood;
    }

    .creator-desktop {
        display: none;
    }

    #about-centered {
        margin-bottom: 5px;
    }

    .hidden-message {
        margin-block: 5px;

    }

    #middle {
        /* padding-top: 90px; */
        margin: 10px;
        text-align: center;
    }

    #spaced-evenly-0,
    #spaced-evenly-1 {
        margin: 10px;
        box-shadow: none;
    }

    #spaced-evenly-1 p,
    #spaced-evenly-0 p {
        display: block;
        overflow: scroll;
        overflow-x: auto;
        height: 200px;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    /* **************************CONTACT*****************  */
    #middle-1 h2 {
        padding: 5px 0;
    }

    #registration {
        width: 70%;
        display: block;
        margin-bottom: 70px;
        /* margin-bottomchoose: 50px; */
    }

    #middle-1 {
        display: block;
        border-radius: 10px;
        margin: 0 auto;
    }

    .wrapper-2 {
        display: block;
        padding: 90px 0 0 0;
        position: unset;
    }

    #numb-list {
        display: flex;
        flex-direction: column;
    }

    /* ****************************AFRICAN**********************  */

    .capsules h2,
    .grounded-pic h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .capsules-pic img {
        width: 100%;
        padding: 0;


    }

    .vertuo p,
    .original p {
        width: 100%;
    }

    .capsules-pic ul,
    p {
        display: block;

    }

    .vertuo,
    .original,
    .compare {
        border: 1px solid burlywood;
        border-radius: 20px;
        margin: 10px;
        padding: 20px;
    }


    .header h1 {
        color: black;
        background-color: inherit;
    }

    .african {
        display: flex;
        flex-direction: column;

    }

    .grounded ul li {
        display: block;
    }

    .yirgacheffe img,
    .sidamo img,
    .nicaragua img,
    .injerto img {

        width: 100%;
        max-inline-size: 100%;

    }



    .injerto {
        margin-bottom: 100px;
    }

    .grounded-pic {
        width: 100%;
    }

    .grounded-pic p {
        text-align: center;
    }
}

/* *****************************SUPPORT********************************* */
@media (max-width:600px) {
    .wrapper-3 {
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-inline: 10px;
        /* height: calc(100vh - 10px); */
        padding-bottom: 90px;
        min-height: calc(100vh - 60px);

    }

    .wrapper-0 {
        height: 96vh;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #middle-2 {

        position: relative;
        top: 30px;
        padding-block: 30px;
    }

    #middle-2 h2 {
        font-size: 10vw;
    }

    #middle-2 h2 table,
    th,
    td,
    tr {
        padding-inline: 2px;
        font-size: 4vw;
    }

    #grid-1 h2,
    #grid h2 {
        font-size: 16vw;
    }

}

@media (min-width:600px) and (max-width:1024px) {
    .footer p {
        font-size: 0.7em;
    }

    /* ******************INDEX***************************** */
    .buy {
        display: grid;
        width: 50%;
        margin: 0 auto;
    }

    .wrapper-0 .buy h2,
    .wrapper-0 .buy a {
        font-size: 1.8em;

    }

    .wrapper {
        align-items: center;
    }

    .wrapper-0 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        display: grid;

        height: 100vh;
    }


    .wrapper h3 {
        width: 50%;
    }

    .wrapper #p-1,
    .wrapper #p-2,
    .wrapper #p-3,
    .wrapper .anim {
        width: 50%;

    }

    .p-4 {
        justify-content: center;
    }

    /* ***************************SUPPORT************************** */
    .wrapper-3 {
        display: block;
        padding-inline: 40px;
        padding-block-end: 90px;
    }

    /* ********************************CONTACT*********************************************** */

    .wrapper-2 {
        min-height: 86vh;
    }

    #registration {
        width: 50%;
    }

    /* *****************************INTERESTING FACTS******************************************* */
    .wrapper .p-4 {
        width: 50%;
    }

    /* *****************************AFRICAN******************************** */
    #grid {
        width: 60%;
        margin: 0 auto;
        margin-top: 60px;
        display: block;


    }

    .yirgacheffe img,
    .sidamo img,
    .nicaragua img,
    .injerto img {
        width: 50%;
    }

    .african {
        width: 60%;
        margin: 0 auto;
    }
}

@media (max-width:380px) {
    .footer ul {
        flex-wrap: wrap;
        gap: 0;
    }

    .social ul {
        gap: 0rem;
    }
}

@media (max-width:332px) {
    .footer p {
        font-size: 3vw;
    }

    .footer q {
        font-size: 5vw;
    }

    .footer ul {
        flex-wrap: wrap;
        gap: 0;
    }
}

@media (max-width:266px) {
    .zero {
        font-size: 7vw;
    }

    #middle h2 {
        font-size: 17vw;
    }
}