* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    background-size: contain;

    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.primary {
    display: flex;
    justify-content: space-between;

    background: linear-gradient(rgb(152 104 41), rgba(214, 186, 118, 1));
    position: fixed;
    height: 60px;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0.5rem;
    list-style-type: none;
    align-items: center;
    font-size: 1.5rem;
    justify-content: end;

}

.zero {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.35em;
}

.zero a {
    color: rgb(24, 21, 15);
}

.one {
    justify-self: center;
    justify-self: start;
    grid-row-start: 1;
    grid-column-start: 1;
    justify-content: end;


}

.two {
    display: flex;
    grid-row: 1/1;
    grid-column: 4/4;
    /* background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555)); */

}

#three {
    animation: none;
    display: block;
    grid-row: 1/1;
    grid-column: 5/5;
    /* background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555)); */
    margin: 0;
    border-radius: 10px;


}


.four {
    display: flex;
    grid-row: 1/1;
    grid-column: 6/6;
    /* background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555)); */

    /* padding: 20px 0; */
}

.five {
    display: flex;
    grid-row: 1/1;
    grid-column: 7/8;
    /* background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555)); */
}

.six {
    display: flex;
    grid-row: 1/1;
    grid-column: 8/8;
}

.navitems {
    margin-right: 0.5rem;
}

.dropdown-content {
    display: none;
    position: absolute;


    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}




.dropdown-content a {
    display: block;

    /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; */

}



#mobile-nav:hover span#b {
    transition-delay: 1s;
}

#mobile-nav span#a {
    display: inline;
}

/* #mobile-nav:hover span#a {
    display: none;
} */

#mobile-nav span#b {
    display: none;

}

.onc {
    display: grid;
    font-size: 1.5rem;
    margin: 0;
    font-family: auto;
    border-radius: 10px;
    border: 3px solid wheat;
    /* background-color: rgb(122, 71, 0); */
}

.navitems li a {

    background-color: rgb(122, 71, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;

}

.navitems>li a {
    border: 1px inset;

}

/* button */


.onc li a {
    background-color: linear-gradient(rgba(0, 0, 0, 0.468), rgba(152, 104, 41, 0.555));
    ;
}

.dropdown-content-active {

    align-items: center;
    display: flex;
    flex-direction: column;

    background: linear-gradient(rgba(0, 0, 0, .768), rgba(152, 104, 41, 0.955));

    /* background-color: rgb(60, 42, 33); */
    position: absolute;

    border-radius: 10px;
}



.dropdown-content-active li {
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 18, 11);
}



button:hover li #zero:hover {
    animation: none;
}



.two a:hover,
/* .three a:hover, */
#three .dropdown-content-active a:hover,
.four a:hover,
.five a:hover,
.six a:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.4s linear;
    animation-name: up;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;

}




@keyframes up {
    from {
        background-color: #ffffff;

    }

    to {
        background-color: whitesmoke;
        color: black;
    }
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0)), fixed no-repeat url(../img/bg-index.jpg);
    background-size: cover;

    /* padding: 10px; */
    /* display: grid; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);

    /* grid-template-rows: auto auto 1fr 1fr 1fr auto auto; */
    grid-gap: 10px;
    /* height: 160vh; */
}

.container-1 {

    background: linear-gradient(rgba(0, 0, 0, 0.096), rgba(0, 0, 0, 0)), fixed no-repeat url(../img/pexels-lukas-942733.jpg);
    background-size: cover;

}



.container-3 {
    background: linear-gradient(rgba(196, 183, 183, 0.217), rgba(232, 223, 223, 0.244)), fixed no-repeat url(../img/support.jpg);
    background-size: cover;

}



.header {

    grid-area: 1 /1/ 1 /9;

}

.fixed h2 {
    position: fixed;
    top: 0;
    left: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;

}

.quote .auth {
    color: rgb(155, 155, 26);
    font-size: 1em;
}

/* **************************ABOUT HTML********************************************/
.container-4 {
    background: linear-gradient(rgba(196, 183, 183, 0.217), rgba(232, 223, 223, 0.244)), fixed no-repeat url(../img/bg-about.jpg);
    background-size: cover;
    background-position: right;
}

.wrapper-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.1fr 0.1fr 0.1fr;
    /* grid-template-rows: 1fr 0.5fr 1fr; */
    min-height: 89vh;
    row-gap: 20px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;

}

.creator {
    display: none;


}

.creator-desktop {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    flex-direction: column;
    /* background-color: rgb(225, 211, 191); */
    background: linear-gradient(rgba(219, 219, 190, 0.768), rgba(152, 104, 41, 0.955));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    padding: 5px;
    width: 100%;
    text-align: center;
    border: 2px groove burlywood;
}

#middle {
    display: grid;
    grid-area: 2/2/2/4;

}

#middle h3 {
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    justify-content: center;
    display: grid;
    border-radius: 10px;
    align-items: center;
    font-family: sans-serif;
    font-size: 4em;
    margin-top: 80px;
}

#spaced-evenly-0 {
    background-color: rgba(61, 41, 8, 0.737);
    display: flex;
    grid-area: 4/2/5/2;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 10px;
    margin: 0 10px;
    animation-name: slide;
    animation-duration: 2s;
    position: relative;

}

#spaced-evenly-0 p {
    background-color: rgb(213, 206, 163);
    color: rgb(26, 18, 11);
    justify-content: center;
    /* display: flex; */
    align-items: center;
    font-family: sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    /* margin: 0 20px; */
    border-radius: 10px;
    width: 100%;
    /* animation-name: slide; */
    animation-duration: 2s;
}

.option {
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    justify-content: center;
    /* display: flex; */
    align-items: center;
    font-family: sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    /* margin: 0 20px; */
    border-radius: 10px;
    width: 100%;
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    from {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: rgba(61, 41, 8, 0.737);
    }

    0% {
        background-color: rgba(74, 61, 18, 0.295);
        left: -300px;
        top: 0px;
    }

    100% {

        left: 0px;
        top: 0px;
    }
}

#spaced-evenly-1 {
    background-color: rgba(61, 41, 8, 0.737);
    display: flex;
    grid-area: 4/3/5/3;
    box-shadow: 5px 5px 5px 5px;
    border-radius: 10px;
    margin: 0 10px;
    animation-name: slide-1;
    animation-duration: 2s;
    position: relative;


}

#spaced-evenly-1 p {
    background-color: rgb(213, 206, 163);
    color: rgb(26, 18, 11);
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 1em;
    padding: 10px 20px;
    /* margin: 0 20px; */
    border-radius: 10px;
    /* animation-name: slide-1; */
    animation-duration: 2s;

}

@keyframes slide-1 {
    from {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: rgba(61, 41, 8, 0.737);
    }

    0% {
        background-color: rgba(210, 203, 194, 0.404);
        left: -500px;
        top: 0px;

    }

    100% {

        left: 0px;
        top: 0px;
    }
}

#know {
    margin-inline: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

}

#know img {
    width: 100%;
    border-radius: 10px;
    padding-inline: 5px;


}

#about-centered {
    background-color: rgb(65, 42, 7);
    text-align: center;
    padding-block: 10px;
    margin-inline: 10px;
    color: beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;

}

.hidden-message {
    background-color: darkgoldenrod;
    padding: 10px;

    text-align: center;
    margin-inline: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: -550%;

}

.hidden-message-active {
    position: relative;
    left: 0
}

/* **************************END***********************************************/



/* **************************INDEX**************************** */
.wrapper-0 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    display: grid;
    height: 100vh;
}

.wrapper-0 h1 {
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-area: 2/3/2/3;
    font-family: sans-serif;
    margin: 10px;

    font-size: 4vw;

}

.buy {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;

    grid-area: 3/3/4/5;
}

.wrapper-0 .buy h2 {
    display: grid;
    /* grid-area: 1/2/3/3; */
    font-size: 3vw;
    background-color: rgba(61, 41, 8, 0.863);
    color: beige;
    padding: 20px;
    border-left: 5px solid rgb(232, 152, 47);
    border-top: 5px solid rgb(232, 152, 47);
    border-right: 3px solid rgb(232, 152, 47);
    border-bottom: 3px solid rgb(232, 152, 47);

}

.wrapper-0 .buy a {
    display: grid;
    grid-area: 3/1/4/3;
    justify-content: center;
    padding: 20px 0;
    border: 7px solid rgb(67, 57, 25);
    background-color: rgb(61, 41, 15);
    color: beige;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.5vw;

}

.wrapper-0 .buy #farmer-1 {
    display: grid;

    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-area: 1/3/3/2;
    border-top: 5px solid rgb(232, 152, 47);
    border-right: 5px solid rgb(232, 152, 47);
    border-bottom: 5px solid rgb(232, 152, 47);

}

.wrapper-0 .buy #farmer-2 {
    display: grid;

    grid-area: 2/1/2/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-left: 5px solid rgb(232, 152, 47);
    border-bottom: 5px solid rgb(232, 152, 47);
    border-right: 5px solid rgb(232, 152, 47);
}


.wrapper-0 .buy a:hover {
    background-color: blanchedalmond;
    color: black;
}

/* **************************INTERESTING FACTS**************************** */

.wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    display: grid;
    grid-area: 2 / 1 / 8 / 9;
    padding: 90px;



}

.wrapper h1 {
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-area: 7/2/7/2;
    font-family: sans-serif;
    margin: 10px;

    font-size: 4vw;

}

#shakey:hover {
    animation: shake 1s;
    animation-iteration-count: 1;
    animation-name: shake;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: relative;
    transform: scaley(5);

    transition: 0.4s linear;
}

.wrapper #p-1 {
    background-color: rgb(61, 41, 8);
    color: beige;
    border: 2px solid burlywood;
    margin: 10px;
    grid-area: 7/1/7/2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    opacity: 1;
    text-align: center;

}

.wrapper img {

    width: 100%;
}

.wrapper #p-1:hover {
    border: 6px solid burlywood;

    opacity: 1;
}


.anim {
    animation-name: left-shift;
    animation-duration: 2s;
    animation-iteration-count: 1;
    position: relative;

}




.wrapper #p-2 {
    background-color: rgb(61, 41, 8);
    color: beige;
    border: 2px solid burlywood;
    grid-area: 6/2/6/2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    opacity: 1;
    text-align: center;
    /* font-weight: 800; */

}

.p-2-active {
    background-color: darkolivegreen;
    background-color: rgb(61, 41, 8);
    color: beige;
    border: 2px solid burlywood;
    grid-area: 6/2/6/2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    opacity: 1;
    text-align: center;
}

.togg-active {}

.wrapper #p-2:hover {
    border: 6px solid burlywood;

    opacity: 1;

}

.wrapper #p-3 {
    background-color: rgb(61, 41, 8);
    color: beige;
    border: 2px solid burlywood;
    grid-area: 7/3/7/3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10px;
    opacity: 1;
    text-align: center;
    /* font-weight: 800; */


}

.wrapper #p-3:hover {
    border: 6px solid burlywood;

    opacity: 1;

}

/* .centered h1{
    text-align: center;
    color: white;
    padding: 20px;
    background: linear-gradient(rgba(173, 71, 71, 0.1), rgba(108, 50, 50, 0.1));
    font-size: 7vw;
} */

.wrapper .p-4 .anim {



    background-color: rgb(61, 41, 8);
}

.p-4 {
    display: flex;
    grid-area: 8/2/8/3;
    margin: 10px;
}

.wrapper .anim {
    /* background-color: rgb(162, 121, 56); */
    color: beige;
    border: 2px solid burlywood;

    grid-area: 8/2/8/2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    opacity: 1;
    text-align: center;
    /* font-weight: 800; */

}

/* *******************************END****************************************** */
/* ********************************CONTACT***************************************** */
.container-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.196), rgba(0, 0, 0, 0.3)), fixed no-repeat url(../img/bg-contact.jpg);
    background-size: cover;
    min-height: 100vh;

}

.wrapper-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr;
    column-gap: 10px;
    display: grid;
    grid-area: 1 / 1 / 8 / 9;
    padding-top: 90px;
    top: 90px;
    position: relative;
    min-height: 90vh;
}

#middle-1 {
    display: grid;
    grid-area: 1/2/1/5;
    width: 50%;
    margin: 0 auto;
    width: fit-content;

}

#middle-1 h3 {
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-area: 1/1/1/1;
    font-family: sans-serif;
    margin: 10px;
    text-align: center;
    font-size: 3em;

}

.form {
    display: grid;
    grid-area: 2/3/2/4;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-inline-size: 100%;
    border: 3px solid rgb(195, 135, 57);
    font-size: 1.5em;
    margin: 0 auto;

    width: 50%;
    padding: 30px 40px 0 40px;
    border-radius: 5px;
    text-align: center;
    color: rgb(55, 44, 12);
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 10px;
    background-color: rgb(191, 162, 123);


}

legend {
    color: whitesmoke;
    background-color: rgb(60, 42, 33);
}

#form label {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    width: max-content;
    margin: 0 auto;
}

#form input {
    padding: 5px;
}




input[type=submit] {
    display: flex;
    padding: 5px;
    margin: 0 auto;

    justify-content: center;
}

.infos input[type=button] {
    color: white;
    background-color: rgb(57, 49, 8);
    border: unset;
    padding-inline: 5px;
}

.infos input[type=button]:hover {

    color: rgb(57, 49, 8);
    background: white;


}

.infos {
    display: flex;

    margin: 10px auto;
    border: 1px groove;
    justify-content: center;

    display: flex;
    flex-direction: row;
}



.infos::before {
    content: "*";
    display: flex;
    flex-direction: row;
    background-color: rgb(57, 49, 8);
    color: rgb(255, 0, 0);
}

.infos::before:hover {
    color: rgb(57, 49, 8);
    background: white;
}

.accept {
    display: flex;
    grid-area: 2/1/2/3;

}



#fav {
    color: black;
    font-size: 1.5em;
}

.submit {
    display: grid;
    width: 100%;
    grid-area: 4/1/4/3;
    text-align: justify;
    gap: 10px;
}

#fav::after {
    content: "*";
    color: rgb(255, 0, 0);
}


#datas {
    /* display: flex; */
    flex-direction: column;
}

#datas label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min-content;
    margin: 10px auto;
    border: 2px solid rgb(61, 45, 7);
    padding: 1px;
    /* animation-name: contact;
    animation-duration: 2s; */

}

.sum {
    cursor: pointer;
}




.fav {

    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

#choose {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* width: 40%; */
    max-inline-size: 100%;
    border: 2px solid rgb(61, 45, 7);
    align-items: flex-end;
}

fieldset:hover {
    animation-name: formy;
    animation-duration: 3.5s;
    position: relative;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);

    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);

    }
}

input[type=submit]:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-duration: 2s;
    position: relative;
    transform: scaley(5);

    transition: 0.4s linear;
}

/* *******************************END****************************************** */

/* ************************************SUPPORT****************************************** */
.active>a {
    background-color: rgb(38, 29, 17);
    color: aqua;
}

.wrapper-3 {
    grid-template-columns: 1fr 1fr 1fr 1fr;

    column-gap: 10px;
    padding-top: 90px;
    padding-inline: 20px;
    display: grid;
    min-height: 96vh;
}

#middle-2 {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.41fr 1fr 0.41fr; */
    grid-area: 1/2/2/4;

}

#middle-2 h3 {
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    justify-content: center;
    display: grid;
    align-items: center;
    grid-row-start: 2;
    font-family: sans-serif;
    margin: 10px;
    text-align: center;
    font-size: 4vw;

}

table,
th,
tr,
td {
    /* display: table; */
    border: 1px solid rgb(48, 29, 5);
    /* width: 100%; */
    border-collapse: collapse;
    /* font-size: 1.2em; */
    padding: 20px;
    background-color: rgba(222, 184, 135, 0.427);
}

td {
    text-align: center;
}

#tax {
    border: unset;

    width: 100%;
    flex-direction: column;
    background-color: tan;
}

.centered-tax {
    background-color: rgb(120, 87, 10);
    color: beige;
    box-shadow: 2px 2px 2px 2px rgb(41, 26, 8);
}

#wire {
    background-color: tan;
}

#form-1 {
    background-color: rgb(120, 87, 10);
    color: beige;
    box-shadow: 2px 2px 2px 2px rgb(41, 26, 8);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#send {
    display: inline;
}

th {
    font-size: 1.7em;
}

#first {}

.support {
    display: grid;
    grid-area: 2/2/2/4;
}

#form {
    width: 100%;
}

/* .footer-0 {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    ;
    grid-template-rows: 1fr;

    background-color: rgb(61, 41, 8);
    position: fixed;
    bottom: 0px;
    color: beige;

}

.footer-0 q {

    grid-area: 5/1/5/5;
    font-weight: 900;
    font-size: 1.8rem;
    width: 80%;
    margin: 0 auto;
} */


.footer {

    position: relative;
    /* bottom: 60px; */
    align-items: center;
    grid-template-columns: ;
    /* grid-template-rows: 1fr 1.3fr; */
    /* background: linear-gradient(rgb(152 104 41), rgba(214, 186, 118, 1)); */

    margin-top: 60px;
    margin-bottom: 100px;
    color: beige;
}

.footer p {
    color: black;
    font-size: xx-large;
    margin: 0 20px;
}

.footer ul {
    display: flex;
    justify-content: space-evenly;

}

.quote {
    grid-area: 1/1/1/4;
    background-color: rgb(61, 41, 8);
    font-weight: 900;
    font-size: 1.3rem;
    width: 100%;
    margin: 0 auto;
    padding-inline: 20px;

}

.social {

    background: linear-gradient(rgba(214, 186, 118, 1), rgb(152, 104, 41));

}

.social ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    /* background: linear-gradient(rgb(152 104 41), rgba(214, 186, 118, 1)); */
}

.social li a {
    display: flex;
    background-color: rgba(84, 67, 16, 0.856);
    padding: 0px;
    opacity: 0.8;
}

.social li a:hover {
    opacity: 1;
}

input[type=radio] {
    display: flex;
    padding: 5px;
    width: 15px;
    height: 15px;


    justify-content: center;
}

#form-1 p {
    font-size: 1.5em;
}

#form-1 label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-block: 10px;
    width: max-content;
    margin: 0 auto;
    align-items: center;

}

.op-5 {
    position: absolute;
    left: -100%;
    width: 50%;
    border: 0;
    display: inline-block;
    border-radius: 10px;
    padding-block: 5px;
}

.remove-content {
    content: "";
}

.currency {
    position: absolute;
    left: -100%;
    width: fit-content;
}

.currency-active {
    position: relative;
    left: 0;
}

.op-5-active {
    position: relative;
    left: 0;
}


/* ********************************AFRICAN****************************************  */



.grounded {
    display: grid;


}



.grounded ul li {
    display: grid;

    background-color: rgba(213, 206, 163, 0.9);
}

.grounded-pic {
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    width: 80%;
    margin: 0 auto;

    border-radius: 20px;
    text-align: center;

    align-items: center;

}

#grid {
    display: grid;
    grid-template-rows: .5fr 1fr;
}

#grid h2 {
    display: grid;
    grid-area: 2/1/2/1;

}

.grounded h2 {



    border-radius: 20px 20px 0 0;
    /* background-color: rgba(1, 0, 0, 0.6); */
    padding: 30px;
    justify-content: center;
    margin: 0 auto;

}


#grid-1 {
    scroll-margin-top: 4.3rem;
}

#grid-1 h2,
#grid h2 {
    font-size: 5rem;
    background-color: rgba(61, 41, 8, 0.737);
    color: beige;
    margin: 10px;
}



.sidamo p,
.nicaragua p {
    padding: 5px 20px;
    display: grid;
    text-align: left;
    grid-area: 1/2/2/2;
    font-size: 1.4em;
}

.sidamo img,
.yirgacheffe img,
.nicaragua img,
.injerto img {
    width: 25vw;
    max-inline-size: 100%;
    block-size: auto;
    border-radius: 10px;
}

.yirgacheffe img,
.injerto img {
    grid-area: 1/2/2/2;

}


.yirgacheffe p,
.injerto p {
    display: grid;
    grid-area: 1/1/2/2;
    text-align: left;
    padding: 5px 20px;
    font-size: 1.4em;
}

.sidamo,
.yirgacheffe,
.nicaragua,
.injerto {
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid rgb(26, 18, 11);

}


.added {
    display: block;
}

.removed {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;

    gap: 8px;
}

.line-1,
.line-2,
.line-3 {
    width: 40px;
    height: 3px;
    background-color: #fff;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.line-1-active {
    transform: rotate(-45deg) translateY(8px);
}

.line-2-active {
    display: none;
}

.line-3-active {
    transform: rotate(45deg) translateY(-8px);
}